/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body,
html {
  height: 100%;
  min-height: 100%;
  background-color: #282a36;
}

a {
  text-decoration: none;
  padding: 5px 10px;
}

li {
  list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  background-color: #282a36;
  color: #fff;
}

.nav-links a {
  color: #fff;
}

/* LOGO */
.logo {
  color: #ff79c6;
  font-size: 32px;
  margin-left: 2rem;
  animation: neon 1s ease-in-out infinite alternate;
}
/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 3rem;
  font-size: 18px;
  padding: 20px;
}
.menu li:hover,
.menu li:hover a {
  color: black;
  background-color: #50fa7b;
  border-radius: 5px;
  transform: scale(1.4);
}

#page-container {
  position: relative;
  min-height: calc(100vh - 5rem);
}

#main-content {
  height: 35rem;
  background-color: #383a59;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.pink-box {
  background-color: #ff79c6;
  height: 25rem;
  width: 25rem;
  border: 3px solid #282a36;
  border-radius: 30% 70% 70% 30% / 30% 20% 80% 70%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.dark-box {
  background-color: #383a59;
  width: 23rem;
  height: 23rem;
  border: 3px solid #282a36;
  border-radius: 30% 70% 70% 30% / 30% 20% 80% 70%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.profile-picture {
  width: 21rem;
  height: 21rem;
  border: 2px solid #f8f8f2;
  border-radius: 30% 70% 70% 30% / 30% 20% 80% 70%;
}

/* #introduction {
  grid-row-start: 27;
  grid-row-end: 90;
  grid-column-start: 50;
  grid-column-end: 90;
} */

#introduction h1 {
  color: #f8f8f2;
  font-size: 80px;
  max-width: 600px;
}

/* .profile-picture2 {
    width: 30vh;
    height: 30vh;
    margin-right: auto;
    border: 3px solid #282a36;
    border-radius: 50%;
    margin: auto auto;
    opacity: 0.1;
} */

#secondary-content {
  height: 30rem;
  background-color: #282a36;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#secondary-content h1 {
  color: #f8f8f2;
  font-size: 50px;
  max-width: 650px;
}

.polygon {
  transform: translate(-150px);
  transition: all 0.35s ease;
}

@keyframes morph {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(40deg) scale(1.1);
  }

  100% {
    transform: rotate(40deg) scale(1);
  }
}

#more-content {
  height: 35rem;
  background-color: #383a59;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#more-content h1 {
  color: #f8f8f2;
  font-size: 50px;
  max-width: 600px;
}

/* FOOTER STYLING */
#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 5rem;
  background-color: #282a36;
  color: #f8f8f2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#footer svg {
  width: 40px;
  height: 40px;
}

/*-- Animation Keyframes --*/

/* animation */

@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(182, 4, 129, 0.92),
      0 0 30px rgba(187, 4, 141, 0.34), 0 0 12px rgba(112, 0, 62, 0.52),
      0 0 21px rgba(114, 0, 63, 0.62), 0 0 34px rgba(146, 0, 80, 0.72),
      0 0 54px rgba(197, 0, 108, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(192, 5, 152, 0.98),
      0 0 30px rgba(165, 36, 154, 0.42), 0 0 12px rgba(139, 32, 125, 0.58),
      0 0 22px rgba(172, 46, 155, 0.58), 0 0 38px rgba(202, 57, 183, 0.58),
      0 0 60px rgba(238, 69, 215, 0.58);
  }
}

/* @keyframes neon {
    from {
      text-shadow:
      0 0 6px rgba(182, 4, 129, 0.92),
      0 0 30px rgba(99, 25, 80, 0.34),
      0 0 12px rgba(138, 43, 95, 0.52),
      0 0 21px rgba(177, 61, 125, 0.62),
      0 0 34px rgba(197, 70, 140, 0.72),
      0 0 54px rgba(223, 84, 160, 0.92);
    }
    to {
      text-shadow:
      0 0 6px rgba(192, 5, 152, 0.98),
      0 0 30px rgba(165, 36, 154, 0.42),
      0 0 12px rgba(139, 32, 125, 0.58),
      0 0 22px rgba(172, 46, 155, 0.58),
      0 0 38px rgba(202, 57, 183, 0.58),
      0 0 60px rgba(238, 69, 215, 0.58);
    }
  } */
