body,
#root {
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
}

html {
  background-color: #63b4a0;
}

a {
  color: white;
  text-decoration: none; /* no underline */
}

a:hover {
  color: rgb(197, 197, 197);
}

#logo {
  max-width: 100px;
  position: fixed;
  left: 2%;
  top: 5%;
}

#profile-picture {
  width: 40vh;
  margin: 50px;
  border-radius: 3%;
  border: 2px solid black;
}

.main-container {
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#App-sidebar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.Sidebar-icons {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#App-header {
  min-height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: white;
}

#App-main {
  min-height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  margin: 0 175px;
}

#Projects-main {
  min-height: 80%;
  display: grid;
  grid-auto-flow: column;
  gap: 10vh;
  font-size: 24px;
  color: white;
  margin: 0 175px;
}

#About-main {
  min-height: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
  margin: 0 175px;
}

#AboutMe {
  padding: 5vh;
  max-width: 75vh;
  text-align: left;
}

#App-footer {
  min-height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@media (max-width: 900px) {
  #Projects-main {
    grid-auto-flow: row;
  }
}

@media (max-width: 500px) {
  html {
    height: 100vh;
    background-color: #63b4a0;
  }

  #logo {
    max-width: 50px;
    left: 2%;
    top: 2%;
  }

  #profile-picture {
    max-width: 30vh;
  }

  #About-main {
    background-color: #63b4a0;
    font-size: 12px;
    margin: 0 50px;
    line-height: 1.25;
  }

  .Sidebar-icons {
    scale: 75%;
    margin: 5px;
  }

  #AboutMe {
    padding: 10px 20px;
    text-align: left;
    word-wrap: break-word;
  }

  #App-sidebar {
    display: none;
  }

  #Projects-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    font-size: 18px;
    margin: 0;
  }
}
