body,
#root {
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
}

head {
  background-color: #63b4a0;
}

html {
  background-color: #63b4a0;
}

a {
  color: white;
  text-decoration: none; /* no underline */
}

a:hover {
  color: rgb(197, 197, 197);
}

#logo {
  z-index: 51;
  max-width: 75px;
  position: fixed;
  left: 40px;
  top: 40px;
}

.project-card {
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
  width: 30vh;
  height: 18vh;
  background-size: cover;
  text-shadow: 2px 2px rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card1 {
  background-image: url("../public/thomas-bormans-pcpsVsyFp_s-unsplash.jpg");
}

.card2 {
  background-image: url("../public/asher-zhang-8JJ_sPcUaNA-unsplash.jpg");
}

.card3 {
  background-image: url("../public/chris-liverani-ViEBSoZH6M4-unsplash.jpg");
}

#profile-picture {
  width: 500px;
  margin: 50px;
  border-radius: 3%;
  border: 2px solid black;
}

.main-container {
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#App-sidebar {
  margin-top: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Sidebar-icons {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#App-header {
  display: flex;
}

#navigation-links {
  min-height: 10%;
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10vh;
  font-size: 12px;
  color: white;
}

#navigation-links-mobile {
  background-color: #63b4a0;
  z-index: 50;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  text-align: left;
  padding-left: 50px;
  padding-top: 100px;
}

.hamburger {
  z-index: 51;
  height: 100px;
  position: fixed;
  right: 50px;
  top: 50px;
}

#hamburger-icon {
  height: 40px;
}

#hamburger-icon:hover {
  cursor: pointer;
}

#App-main {
  min-height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  margin: 0 175px;
}

#Projects-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  color: white;
  margin: 0 175px;
}

#About-main {
  min-height: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
  margin: 0 175px;
}

#AboutMe {
  font-size: 28px;
  padding: 5vh;
  max-width: 75vh;
  text-align: left;
}

#Contact-main {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form {
  height: 330px;
  width: 300px;
  border-radius: 5px;
  font-size: 18px;
  color: black;
  background-color: white;
  padding: 10px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

#name {
  margin: 5px;
  width: 200px;
  padding: 4px;
}

#email {
  margin: 5px;
  width: 200px;
  padding: 4px;
}

#message {
  margin: 5px;
  padding: 4px;
  min-width: 5vh;
  max-width: 200px;
  max-height: 8vh;
}

#contact-submit {
  width: 100px;
  background: #63b4a0;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#App-footer {
  min-height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@media (max-width: 1100px) {
  #Projects-main {
    flex-direction: column;
  }

  #profile-picture {
    width: 400px;
  }

  #About-main {
    font-size: 12px;
    margin: 0 50px;
    line-height: 1.25;
  }
}

@media (max-width: 800px) {
  html {
    height: 100vh;
    background-color: #63b4a0;
  }

  #logo {
    max-width: 50px;
    left: 25px;
    top: 25px;
  }

  #profile-picture {
    width: 30vh;
  }

  .hamburger {
    right: 30px;
    top: 30px;
  }

  #hamburger-icon {
    height: 35px;
  }

  #About-main {
    font-size: 12px;
    margin: 0 50px;
    line-height: 1.25;
  }

  #AboutMe {
    font-size: 20px;
    padding: 10px 20px;
    text-align: center;
    word-wrap: break-word;
  }

  #Projects-main {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    color: white;
    white-space: nowrap;
  }

  .project-card {
    border: 1px solid black;
    width: 200px;
    height: 100px;
    margin: 20px;
    background-size: cover;
    text-shadow: 2px 2px rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact-form {
    height: 320px;
    width: 240px;
    border-radius: 5px;
    font-size: 18px;
    color: black;
    background-color: white;
    padding: 10px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-height: 450px) {
  #logo {
    max-width: 50px;
    left: 2%;
    top: 2%;
  }

  #profile-picture {
    width: 50vh;
  }

  #About-main {
    font-size: 12px;
    margin: 0 50px;
    line-height: 1.25;
  }

  #AboutMe {
    font-size: 20px;
    padding: 10px 20px;
    text-align: center;
    word-wrap: break-word;
  }

  #Projects-main {
    width: 100%;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    color: white;
    white-space: nowrap;
  }

  .project-card {
    border: 1px solid black;
    width: 60vh;
    height: 30vh;
    margin: 20px;
    background-size: cover;
    text-shadow: 2px 2px rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
